@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
  }
@font-face {
    font-family: 'Lilita';
    src: url(Fonts/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: 'Bagel';
    src: url(Fonts/Righteous-Regular.ttf);
}

#background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}
.bar img{
    width: 70%;
    margin-left: 5%;
}
.bar{
    z-index: 3;
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.309);
    background-color: white;
    display: none;
}
@media screen and (max-width: 700px){
    .bar{
        display: flex;
    }
}
#letsbirthdayimage{
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 200px;
}
#flags{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    z-index: -1;
}
#title{
    padding-top: 3rem;
}
@media screen and (max-width: 1310px){
    #letsbirthdayimage{
        display: none;
    }
    #flags{
        display: none;
    }

}
@media screen and (max-width: 700px){

    #title{
        padding-top: 7rem;
    }
}
#footer p{
    text-align: center;
    font-family: 'Montserrat';
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
#footer{
    background-color: white;
}
#services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}
.block{
    width: 700px;
    border: 5px solid #d2652d;
    margin-bottom: 2rem;
    border-radius: 10%;
    padding: 30px;
}
.img1{
    width: 100%;
    border-radius: 5%;
    margin-top: 1rem;
    height: 300px;
    background-image: url(Images/service1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.img2{
    width: 100%;
    border-radius: 5%;
    margin-top: 1rem;
    height: 300px;
    background-image: url(Images/cake2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.img3{
    width: 100%;
    border-radius: 5%;
    margin-top: 1rem;
    height: 300px;
    background-image: url(Images/party3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
#services h3{
    text-align: center;
    font-family: 'Lilita';
    font-size: 2rem;
    margin: 0.5rem;
}
.priceduration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
}
.activities{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.left, .right{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.activity{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
#services h2{
    color: rgb(87, 87, 87);
    font-family: 'Montserrat';
}
#services p{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    padding-top: 0;
}
.iconservice{
    background-color: #5950a4;
    border-radius: 50%;
    padding: 5px;
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-bottom: 0.4rem;
}
@media screen and (max-width: 800px){
    .block{
        width: 500px;
        border-radius: 5%;
    }
    .iconservice{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        font-size: 30px;
        margin-bottom: 0.4rem;
    }
    #services p{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 500px){
    .block{
        width: 80%;
        border-radius: 2%;
    }
    .iconservice{
        width: 30px;
        height: 30px;
        margin-right: 7px;
        font-size: 25px;
        margin-bottom: 0.4rem;
    }
    #services p{
        font-size: 1.1rem;
    }
    .priceduration{
        padding-inline: unset;
    }
}
@media screen and (max-width: 400px){
    #background{
        display: none;
    }
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-family: 'Montserrat';
  }
  .responsive-table .table-header {
    background-color: #cdc7ff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bolder;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 30%;
  }
  .responsive-table .col-2 {
    flex-basis: 25%;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
  }
  ul{
    padding-left: 0;
  }
  #extras{
    background-color: #5950a4;
    width: 100%;
    padding-bottom: 3rem;
  }
  .notes{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}
.notes img{
    width: 40%;
    border-radius: 50%;
    border: 5px solid white;
    max-width: 500px;
}
.notes p{
    width: 40%;
    text-align: center;
    color: white;
    margin-right: 40px;

}
  @media all and (max-width: 767px) {
    .responsive-table .col-1 {
        flex-basis: 30%;
      }
      .responsive-table .col-2 {
        flex-basis: 40%;
      }
      .responsive-table .col-3 {
        flex-basis: 10%;
      }
      .notes{
        flex-direction: column;
    }
    .notes img{
        width: 80%;
    }
    .notes p{
        width: 90%;
    margin-right: unset;
    margin-bottom: 2rem;
    }
  }
  #aboutus {
    margin-top: 2rem;
    color: white;
    font-size: 1rem;
    border: 0px solid #2d63c8;
    border-radius: 50px;
    padding: 15px 50px;
    cursor: pointer;
    font-family: 'Montserrat';
    background-color: #1eaeeb;
}
#aboutus:hover {
    color: #e9e9e9;
    background-color: #229cd1;
}